<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bytestudio.muzei"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required by RemoteMuzeiArtSource -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
        
    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        
		<activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:theme="@style/AppTheme"
            android:exported="true" />
                
        <service android:name=".BytestudioArtSource"
            android:label="@string/source_name"
            android:description="@string/source_description"
            android:icon="@drawable/b_logo">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>
            <meta-data android:name="color" android:value="#fa0" />
            
			<meta-data android:name="settingsActivity" android:value=".SettingsActivity" />            
        </service>        
    </application>

</manifest>
